<!doctype HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Flourish Live API Example</title>
	</head>
	<body>
		<h1>Flourish Live API Example</h1>
		<ul>
			{{#each regions}}
			<li><a href="/{{name}}">{{name}}</a></li>
			{{/each}}
		</ul>
	</body>
</html>
